In [53]:
# Libraries, importing API keys
from binance import Client
import pandas as pd
import sys
import datetime
import numpy as np
from get_api_keys import *
import re
import time
import seaborn as sn
import matplotlib.pyplot as plt

In [54]:
# Options
backperiod='200'
pd.options.display.max_rows = 2100
pd.options.display.max_columns = 10

In [55]:
# Connect to client and pull tickers
client = Client(api_key, api_secret)
info = client.get_ticker()
print("Connected to Binance")

Connected to Binance

In [56]:
# Pass into a dataframe
df = pd.DataFrame(info, columns =['symbol', 'lastPrice', 'volume', 'quoteVolume'])
df=df[df['symbol'].str.contains("USDT")==True]
df['quoteVolume']=df['quoteVolume'].astype(float)
df = df.sort_values('quoteVolume', ascending = False)

# After checking 'df', define coins
coins = ['BTCUSDT', 'ETHUSDT', 'MATICUSDT', 'SOLUSDT',
         'BNBUSDT', 'XRPUSDT', 'ADAUSDT', 'ATOMUSDT', 
         'AVAXUSDT','DOGEUSDT', 'SHIBUSDT','NEARUSDT',
         'DOTUSDT', 'GALAUSDT', 'SANDUSDT', 'LINKUSDT',
         'FTMUSDT', 'LTCUSDT', 'WAVESUSDT', 'MANAUSDT',
         'UNIUSDT', 'AAVEUSDT', 'ALGOUSDT']
# All possible combinations
#res = [(a, b) for idx, a in enumerate(coins) for b in coins[idx + 1:]]
#coins = ['DOTUSDT']
print("Pairs defined")

Pairs defined

In [57]:
# Dataset for each pair
myDataFrame = pd.DataFrame()
list1 = []
for x in coins:
    # Get candlestick data for each coin
    print('Getting data for: '+x)
    klines = pd.DataFrame(client.get_historical_klines(x,
                                                       Client.KLINE_INTERVAL_1HOUR,
                                                       backperiod+" days ago ECT"))
    # Define and select columns
    klines.columns = ["open_time", "Open", "High",
                     "Low", "Close", "Volume",
                     "close_time", "Quote_asset_volume",
                     "N_trades", "Taker_buy_base_asset_volume",
                     "taker_buy_quote_asset_volume", "ignore"]
    klines_exp = klines[["open_time", "close_time", "Open", "Close", "High", "Low", "Volume"]]

    klines_exp.insert(loc=0, column='pair', value=x)
    klines_exp.reset_index(drop=True, inplace=True)
    klines_exp=klines_exp.loc[klines_exp['pair'] == x, 'Close'].to_frame()
#   klines_exp=klines_exp.loc[klines_exp['pair'] == x, ['Close', 'close_time']]
    
    
    
    list1.append(klines_exp)
    time.sleep(1)

print(list1)
list2=pd.concat(list1, axis=1)
print("Downloading complete")

Getting data for: BTCUSDT
Getting data for: ETHUSDT
Getting data for: MATICUSDT
Getting data for: SOLUSDT
Getting data for: BNBUSDT
Getting data for: XRPUSDT
Getting data for: ADAUSDT
Getting data for: ATOMUSDT
Getting data for: AVAXUSDT
Getting data for: DOGEUSDT
Getting data for: SHIBUSDT
Getting data for: NEARUSDT
Getting data for: DOTUSDT
Getting data for: GALAUSDT
Getting data for: SANDUSDT
Getting data for: LINKUSDT
Getting data for: FTMUSDT
Getting data for: LTCUSDT
Getting data for: WAVESUSDT
Getting data for: MANAUSDT
Getting data for: UNIUSDT
Getting data for: AAVEUSDT
Getting data for: ALGOUSDT
[               Close
0     38151.17000000
1     38673.03000000
2     38876.90000000
3     38866.27000000
4     38782.91000000
...              ...
4795  21507.10000000
4796  21542.42000000
4797  21556.42000000
4798  21590.30000000
4799  21413.51000000

[4800 rows x 1 columns],               Close
0     2695.63000000
1     2702.61000000
2     2713.98000000
3     2717.68000000
4     2719.62000000
...             ...
4795  1764.35000000
4796  1760.87000000
4797  1759.49000000
4798  1764.77000000
4799  1748.74000000

[4800 rows x 1 columns],            Close
0     1.52400000
1     1.53700000
2     1.54400000
3     1.55200000
4     1.56700000
...          ...
4795  0.89610000
4796  0.89730000
4797  0.89540000
4798  0.89810000
4799  0.88620000

[4800 rows x 1 columns],             Close
0     89.14000000
1     89.97000000
2     90.40000000
3     91.76000000
4     92.04000000
...           ...
4795  35.12000000
4796  34.76000000
4797  34.68000000
4798  34.71000000
4799  34.12000000

[4800 rows x 1 columns],              Close
0     377.90000000
1     378.70000000
2     381.10000000
3     380.60000000
4     379.70000000
...            ...
4795  295.40000000
4796  294.40000000
4797  294.60000000
4798  294.40000000
4799  292.80000000

[4800 rows x 1 columns],            Close
0     0.72360000
1     0.72800000
2     0.73650000
3     0.73340000
4     0.73280000
...          ...
4795  0.35540000
4796  0.35610000
4797  0.35520000
4798  0.35510000
4799  0.35290000

[4800 rows x 1 columns],            Close
0     0.91400000
1     0.92200000
2     0.92900000
3     0.93100000
4     0.93000000
...          ...
4795  0.51160000
4796  0.51230000
4797  0.51120000
4798  0.51320000
4799  0.50250000

[4800 rows x 1 columns],             Close
0     25.21000000
1     25.41000000
2     25.63000000
3     25.91000000
4     25.74000000
...           ...
4795  15.72200000
4796  15.81000000
4797  15.72700000
4798  15.83700000
4799  15.62500000

[4800 rows x 1 columns],             Close
0     78.54000000
1     78.54000000
2     79.44000000
3     81.06000000
4     81.42000000
...           ...
4795  20.38000000
4796  20.34000000
4797  20.37000000
4798  20.30000000
4799  20.09000000

[4800 rows x 1 columns],            Close
0     0.13250000
1     0.13320000
2     0.13450000
3     0.13450000
4     0.13400000
...          ...
4795  0.06439000
4796  0.06428000
4797  0.06418000
4798  0.06408000
4799  0.06317000

[4800 rows x 1 columns],            Close
0     0.00002520
1     0.00002577
2     0.00002651
3     0.00002650
4     0.00002685
...          ...
4795  0.00001304
4796  0.00001302
4797  0.00001298
4798  0.00001301
4799  0.00001268

[4800 rows x 1 columns],            Close
0     9.09100000
1     9.22200000
2     9.25500000
3     9.34300000
4     9.29400000
...          ...
4795  4.71100000
4796  4.73100000
4797  4.73400000
4798  4.72400000
4799  4.64100000

[4800 rows x 1 columns],             Close
0     16.95000000
1     16.97000000
2     17.18000000
3     17.26000000
4     17.24000000
...           ...
4795   7.74000000
4796   7.72000000
4797   7.73000000
4798   7.73000000
4799   7.63000000

[4800 rows x 1 columns],            Close
0     0.23806000
1     0.24325000
2     0.24581000
3     0.24523000
4     0.24419000
...          ...
4795  0.05169000
4796  0.05162000
4797  0.05159000
4798  0.05146000
4799  0.05062000

[4800 rows x 1 columns],            Close
0     3.21050000
1     3.26510000
2     3.27240000
3     3.26370000
4     3.23480000
...          ...
4795  0.98460000
4796  0.98580000
4797  0.98470000
4798  0.98080000
4799  0.96480000

[4800 rows x 1 columns],             Close
0     14.18000000
1     14.36000000
2     14.43000000
3     14.52000000
4     14.41000000
...           ...
4795   7.87200000
4796   7.88100000
4797   7.87800000
4798   7.87700000
4799   7.74900000

[4800 rows x 1 columns],            Close
0     1.64210000
1     1.66480000
2     1.68730000
3     1.69650000
4     1.68990000
...          ...
4795  0.27370000
4796  0.27310000
4797  0.27330000
4798  0.27300000
4799  0.26800000

[4800 rows x 1 columns],              Close
0     108.40000000
1     109.50000000
2     110.30000000
3     110.70000000
4     110.30000000
...            ...
4795   64.25000000
4796   63.75000000
4797   63.14000000
4798   63.52000000
4799   62.41000000

[4800 rows x 1 columns],            Close
0     9.15000000
1     9.25000000
2     9.27000000
3     9.56000000
4     9.54000000
...          ...
4795  4.97100000
4796  5.00200000
4797  5.02800000
4798  5.03200000
4799  4.90300000

[4800 rows x 1 columns],            Close
0     2.65860000
1     2.72380000
2     2.77290000
3     2.78450000
4     2.76220000
...          ...
4795  0.81180000
4796  0.81190000
4797  0.81040000
4798  0.80970000
4799  0.79570000

[4800 rows x 1 columns],            Close
0     9.05000000
1     9.11000000
2     9.20000000
3     9.28000000
4     9.23000000
...          ...
4795  6.57000000
4796  6.57000000
4797  6.56000000
4798  6.54000000
4799  6.46000000

[4800 rows x 1 columns],              Close
0     138.40000000
1     139.00000000
2     140.50000000
3     141.30000000
4     141.20000000
...            ...
4795   91.30000000
4796   91.50000000
4797   91.40000000
4798   91.10000000
4799   89.90000000

[4800 rows x 1 columns],            Close
0     0.81840000
1     0.82700000
2     0.83120000
3     0.83390000
4     0.83320000
...          ...
4795  0.32360000
4796  0.32290000
4797  0.32320000
4798  0.32200000
4799  0.31670000

[4800 rows x 1 columns]]
Downloading complete

In [58]:
# print(list2)
list2.drop(list2.tail(5).index,inplace=True)
list2.drop(list2.head(5).index,inplace=True) # drop first n rows
print(list2)

               Close          Close       Close        Close         Close  \
5     39016.39000000  2740.74000000  1.58400000  92.36000000  382.70000000
6     38960.24000000  2731.44000000  1.57700000  91.67000000  381.30000000
7     38660.07000000  2707.45000000  1.55300000  90.66000000  377.90000000
8     38512.51000000  2688.35000000  1.54300000  89.72000000  378.90000000
9     38638.24000000  2710.78000000  1.56400000  90.74000000  380.90000000
...              ...            ...         ...          ...           ...
4790  21606.07000000  1750.70000000  0.90250000  34.84000000  294.70000000
4791  21758.00000000  1783.40000000  0.90720000  35.30000000  297.50000000
4792  21648.34000000  1774.12000000  0.90600000  35.03000000  296.70000000
4793  21548.91000000  1772.09000000  0.90740000  35.01000000  296.10000000
4794  21610.85000000  1763.56000000  0.90050000  35.15000000  295.10000000

      ...        Close       Close       Close         Close       Close
5     ...   9.85000000  2.79380000  9.38000000  142.70000000  0.83690000
6     ...   9.87000000  2.73670000  9.30000000  141.80000000  0.83250000
7     ...   9.68000000  2.70680000  9.17000000  139.70000000  0.82590000
8     ...   9.82000000  2.69600000  9.16000000  138.80000000  0.81940000
9     ...  10.17000000  2.73640000  9.27000000  141.30000000  0.83660000
...   ...          ...         ...         ...           ...         ...
4790  ...   4.92800000  0.81370000  6.55000000   91.80000000  0.32190000
4791  ...   4.95600000  0.81840000  6.67000000   93.30000000  0.32390000
4792  ...   4.95500000  0.81380000  6.68000000   92.70000000  0.32190000
4793  ...   5.08000000  0.81760000  6.67000000   92.70000000  0.32530000
4794  ...   5.04300000  0.81480000  6.56000000   92.00000000  0.32490000

[4790 rows x 23 columns]

In [59]:
new_cols = coins
list2.columns = new_cols


list2 = list2.apply(pd.to_numeric)
corrMatrix = list2.corr()

pair1=[]
pair2=[]

for i in corrMatrix.columns:
    for j in corrMatrix.index.values:
        if 0.95 <= corrMatrix.loc[i, j] < 1:
            tmp=i+"_"+j
            pair1.append(i)
            pair2.append(j)

d = {'pair1': pair1, 'pair2': pair2}
df = pd.DataFrame(data=d)

df.to_csv("high_correlated_pairs.csv", index=False)
print('Calculations of correlation finished')

Calculations of correlation finished